{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
</head>

<body>

    <h2>Add React in One Minute</h2>
    <p>This page demonstrates using React with no build tooling.</p>
    <p>React is loaded as a script tag.</p>

    <!-- We will put our React component inside this div. -->
    <div id="like_button_container"></div>

    <div id="chart"></div>
    

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script type="module" src="{{url_for('static', filename='timeSeriesChart.js')}}"></script>

    

    <h1>This issss the home page.</h1>

</body>

</html>



<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->






{% endblock %}