{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <h1 class="text-center">Your Portfolio</h1>
    <table class="table table-bordered">
        <thead>
            <tr class="table-success">
                <th scope="col">Category</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monthly Income</td>
                <td>{{ monthly_income }}</td>
            </tr>
            <tr>
                <td>Savings Percentage</td>
                <td>{{ savings_percent }}</td>
            </tr>
            <tr>
                <td>Total Subscriptions</td>
                <td>{{ subscription_total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}